<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="InventoryManagementDbConectionString" providerName="System.Data.sqlclient" connectionString="Data Source = VAIO\SQLEXPRESS; Initial Catalog = InventoryManagementDb; Integrated Security = SSPI" />
  </connectionStrings>
</configuration>